<!DOCTYPE html>
<html>
<head>
	<title>Create Item</title>
</head>
<body>
	<h2>Create a New Wish List Item</h2>
	{% for errors in request.session.errors %}
		<p>{{errors}}</p>
	{% endfor %}
	<form action="/add_item" method="post">
	{% csrf_token %}
		Item/Product: <input type="text" name="item">
		<input type="submit" name="submit" value="Add">
	</form>
</body>
</html>