<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration</title>
</head>
<body>
	{% for errors in request.session.errors %}
		<p>{{errors}}</p>
	{% endfor %}
	<h1>Registration</h1>
	<form action="/register" method="post">
	{% csrf_token %}
		<p>First Name: <input type="text" name="first_name"></p>
		<p>Last Name: <input type="text" name="last_name"></p>
		<p>Email: <input type="text" name="email"></p>
		<p>Password: <input type="password" name="password"></p>
		<p>Re-enter Password: <input type="password" name="confirm_password"></p>
		<input type="submit" name="submit" value="Register">
	</form>
	<h1>Login</h1>
	<form action="/login" method="post">
	{% csrf_token %}
		<p>Email: <input type="text" name="email"></p>
		<p>Password: <input type="password" name="password"></p>
		<input type="submit" name="submit" value="Login">
	</form>
	
</body>
</html>
