<!DOCTYPE html>
<html>
<head>
	<title>My Wish List</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'style.css' %}" charset="utf-8">
</head>
<body>
	<h3>Hello, {{name}}!</h3><a href="/logout">Logout</a>
	<p>Your Wish List:</p>
	<table>
		<thead>
			<tr>
				<th>Item</th>
				<th>Added By</th>
				<th>Date Added</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a>{{item.name}}</a></td>
				<td></td>
				<td>{{item.created_at}}</td>
				<td><a href="/delete/{{item.id}}">Remove from my Wishlist</a></td>
	</table>
	<p>Other User's Wish List</p>
	<table>
		<thead>
			<tr>
				<th>Item</th>
				<th>Added By</th>
				<th>Date Added</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				<td><a>{{item.name}}</a></td>
				<td></td>
				<td>{{item.created_at}}</td>
				<td></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="/create">Add Item</a>
</body>
</html>